html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /* color: #333; */
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    color: #e6e6e6;
}
button,a{
    cursor: pointer;
}
h3 {
    color: #e6e6e6;
}

a h3:hover {
    color: #fff;

}
a{
    color: inherit;
    text-decoration: none;
}

.wrapper {
    min-width: 1050px;
    min-height: 100%;
    background-color: #333;
}
.signInContainer{
    background-color: #efefee;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/79fe83d4-7ef6-4181-9439-46db72599559/732b5ee0-87a0-4e84-a87a-a814c9619402/VE-es-20221017-popsignuptwoweeks-perspective_alpha_website_large.jpg); 
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    background-color: rgb(236, 236, 236);
    min-height: 300px;
    max-height: 100%;
    width: 450px;
    box-shadow: rgba(0,0,0,0.1) 0 1px 10px;
    padding: 20px 35px;
}
.column form {
    display: flex;
    flex-direction: column;

}

.column form input[type="text"], 
.column form input[type="email"], 
.column form input[type="password"] {
    font-size: 14px;
    margin: 10px 0 ;
    border: none;
    border-bottom: 1px solid #dedede;
}
.column form input[type="submit"] {
    background-color: #4285f4;
    color: #fff;
    width: 88px;
    height: 36px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.column .header {
    padding: 20px 0;
}
.column h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-top: 16px;
    color: rgb(24, 24, 24);
}

.column .header span {
    font-size: 14px;
}

.column .logo {
    height: 2rem;
    width: 6.4rem;
}

.signInMessage {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.errorMessage {
    color: #f00;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.previewContainer{
    position:relative;
    display: flex;
}
.previewContainer.small{
    width: 230px;
    height: 129px;
    margin-right: 4px;
    display: inline-flex;
}
.previewContainer.small img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.previewImage,
.previewVideo{
    width: 100%;
    height: 100%;
}
.previewOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
}
.previewOverlay .mainDetails{
    position: relative;
    top: 35%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.previewOverlay .mainDetails h3{
    color: #fff;
    font-size: 40px;
    margin: 15px;
}
.previewOverlay .mainDetails h4{
    color: #fff;
    font-size: 20px;
    margin: 15px;
}
.mainDetails .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mainDetails button {
    background-color: rgba(51,51,51,0.4);
    color: #e6e6e6;
    border: none;
    min-width: 150px;
    padding: 0 38px;
    height: 50px;
    max-height: 50px;
    font-size: 18px;
    border-radius: 2px;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.mainDetails button:hover {
    background-color: #fff;
    color: rgb(22, 22, 22);
}

button i {
    color: inherit;
}
.category {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.entities,.videos {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

*::-webkit-scrollbar {
    width: 3px;
    height:4px;
}

*::-webkit-scrollbar-track {
    background-color: #333;

}

*::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius:500px;
}
*::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
.previewCategories {
    padding: 0 50px;
}
.errorBanner{
    color: #fff;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.season {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.episodeContainer {
    display: inline-flex;
    justify-content: center;
    margin-right: 6px;
    margin-bottom: 5px;
}
.episodeContainer .contents {
    display: flex;
    flex-direction: column;
    width: 230px;
    position: relative;
}
.seen {
    color: 		#00e244;
    position: absolute;
    font-size: 22px;
    top: 5px;
    right: 5px;
    border: 1px solid #333;
    border-radius: 50%;
    
}
.episodeContainer img {
    width: 230px;
    height: 129px;
    object-fit: cover;

}
.episodeContainer .videoInfo{
    max-height: 170px;
    overflow-y: auto;
    padding: 0 4px;
}
.episodeContainer .videoInfo h4,
.episodeContainer .videoInfo span{
    color: #fff;
    width: 100%;
    white-space: normal;

}

.previewCategories.noScroll .category .entities{
    white-space: normal;
}

.watchContainer video {
    width: 100%;
}

.videoControls {
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}

.videoControls  h1{
    color: #fff;
}

.videoControls button {
    font-size: 50px;
    padding: 50px;
    color: #e6e6e6;
    background-color: transparent;
    border: none;
}
.videoControls button:hover{
    color: #fff;
}

.upNext {
    height: 100%;
    justify-content: center;
}

.upNextContainer button{
    padding: 0;
}

.upNextContainer h2,
.upNextContainer h3 {
    color: #e6e6e6; 
}

.watchNav {
    z-index: 2;
}
.topBar {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 60px;
    height: 78px;
    min-width: 1050px;
    transition: all 0.8s ease-in-out;
}
.topBar.scrolled {
    background-color: #141414;
}

.logoContainer {
    height: 40px;
}

.logoContainer img {
    height: 100%;
}

.navLinks {
    display: flex;
    list-style: none;
}

.navLinks a {
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
}
 
.rightItems {
    text-align: right;
    flex: 1;
}
.rightItems i {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

.textboxContainer{
    padding: 100px 50px;

}

.searchInput{
    height: 50px;
    width: 600px;
    border: 1px solid #dedede;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
}

.settingContainer{
    padding: 60px;
    background-color: transparent;
    width: 80%;
    margin-inline: auto;

}
.settingContainer h2 {
    color: #fff;
    margin-top: 0;
}

.settingContainer .formSection{
    display:flex;
    flex-direction: column;
    margin: 20px 0;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
}

.formSection input[type="text"],
.formSection input[type="email"],
.formSection input[type="password"]{
    width: 300px;
    height: 40px;
    font-size: 15px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    padding: 0 5px;

}

.settingsContainer form input[type="submit"]{
    background-color: #dc1928;
    width: 100px;
    height: 40px;
}


